@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Source+Serif+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300&display=swap');

/* ---------------------base css--------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    --main-color: #283526;
    --primary-color: #888888;
    --button-background: #1b3b68;
    --primary-btn-background: #fe7649;
    --background-color: #e2efff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--main-color);
    text-transform: capitalize;
}
h1,
h2,
h3 {
    font-weight: 700;
    line-height: 6rem;
    text-transform: capitalize;
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 3.2rem;
}
h3{
    font-size: 2.4rem;
}
button  a,
button {
   font-size: 1.7rem;
   line-height: 150%;
   font-style: normal;
   font-weight: 700;
   color: var(--background-color);
}
p,
li{
    font-size: 1.7rem;
    line-height: 150%;
    font-style: normal;
    font-weight: 700;
    color: var(--main-color);
}
strong {
    color: var(--main-color);
    font-weight: 700;
}
a {
    text-decoration: none;
}
li { 
    list-style: none;
}
button {
    cursor: pointer;
    padding: 1rem 3rem;
    border: 0;
    border-radius: .1rem;
}
i{
    color: tomato;
}
.clearfix::after {
    content: '';
    clear: both;
    display: table;
}
/*------------------ navbar design ------------------*/
section {
    padding: 5rem 0;
}
header,
.container {
    padding: 0 8rem;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.logo-menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
.logo-menu-wrapper .logo-container img {
    width: 13rem;
    height: 5.9rem;
}
.logo-menu-wrapper .menu-container {
    display: flex;
    height: inherit;
}
.navbar-wrapper li {
    margin: 0 2rem;
}
.navbar-wrapper li a {
    font-size: 2rem;
    line-height: 3.6rem;
}
.navbar-wrapper .buttons-wrapper li a {
    background-color: var(--background-color);
    padding: 1rem;
}
.navbar-wrapper li a:hover{
    color: var(--button-background);
}
.buttons-wrapper {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
}
.buttons-wrapper .signup-btn {
    background-color: var(--button-background);
    color: var(--background-color);
}

/*---------------- main section design ----------------*/
.main-section-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-section-content-part{
    width: 50%;
}
.main-section-img-part{
    width: 50%;
}
.main-section-img-part img {
    width: 100%;
}
.full-width-title {
    text-align: center;
    margin: 30px 0;
}
.title {
    margin: 10px 0;
}
.lorem-text{
    text-align: justify; 
}
.button-group img {
    margin: 40px 10px;
    width: 13.5rem;
    height: 4rem;
}
#img-first-child {
    height: 4.3rem;
    margin-bottom: 37px;
}
.common-section-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-side-wrapper {
    text-align: center;
    width: 50%;
}
.content-side-wrapper {
    width: 50%;
}
.img-side-wrapper img {
    width: 60%;
    border-radius: 2rem;
    padding: 40px 0;
}
.button-group {
    margin: 20px 0px;
}
.common-button,
.common-button-normal:hover {
    background-color: var(--primary-btn-background);
    color: var( --background-color);
    margin: 8px 15px;
}
.common-button-normal{
    border: 1px solid var(--primary-btn-background);
    color: var(--main-color);
    margin: 8px 15px;
}
.tools-for-goals-section {
    margin: 50px 0;
    width: 100%;
    padding: 30px 0;
    background-color: var(--background-color);
}
.task-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4rem;
    margin: 4rem 0;
}

.task-wrapper .task1,
.task-wrapper .task2,
.task-wrapper .task3 {
    padding: 2rem 2rem;
    text-align: center;
    transition: all 0.3s linear;
    border-radius: 2rem;
    cursor: pointer;
    background-color: white;
   
}

.task-wrapper .task1 img, 
.task-wrapper .task2 img, 
.task-wrapper .task3 img {
    width: 30%;
    transition: all 1s; 
}
.task-wrapper .task1:hover > img, 
.task-wrapper .task2:hover > img, 
.task-wrapper .task3:hover > img {
    transform: rotate(360deg);
}
#own-fitness-section .img-side-wrapper img {
    width: 90%;
    height: inherit;
    margin: 0;
}
.rule {
    margin: 15px 0;
}
input{
    width: 45%;
    padding: 10px 16px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 2rem;
}
.search-text {
    width: 45% transparent;
    border: 0;
    padding: 0;
    font-size: 0;
    transition: all .5s linear;
}
.search-box:hover .search-text {
    width: 45%;
    padding: 10px 16px;
    font-size: 15px;
    border: 1ox solid #ccc;
}
i{
    font-size: 20px;
    padding: 0 6px;
    margin: 0 04px;
    background-color: #fff;
    padding: 1rem;
    border-radius: 2rem;
}
input:focus{
    outline: 0;
}
footer {
    background-color: var(--background-color);
    padding: 20px 0;
}
footer li {
    margin-bottom: 12px;
}
footer .logo-container img {
    width: 200px;
}
.footer-container, 
.footer-right-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-col-one,
.footer-col-two,
.footer-col-three,
.footer-col-four {
    width: 12.20%;
}
.footer-right-side li:hover {
    text-decoration: underline;
}


/*----------------- responsive design parts ------------------*/

@media only screen and (max-width: 860px) {
    header, .container {
        padding: 0 2rem;
    }
    .navbar-wrapper{
        display:  block;
        height: 400px;
    }
    .logo-menu-wrapper {
        display:  block;
    }
    .buttons-wrapper{
        display: block;
    }
    .logo-container{
        display: block;
    }
    .menu-container{
        flex-direction: column;
    }
    .menu-container li {
        margin: 5px;
    }
    .buttons-wrapper li{
        margin: 15px 0;
    }
    .main-section-wrapper{
        display: block;
    }
    .main-section-content-part{
        width: 100%;
    }
    .main-section-img-part{
        width: 100%;
    }
    .common-section-wrapper{
        display: block;
    }
    .img-side-wrapper {
        text-align: center;
        display: block;
        width: 100%;
    }
    .content-side-wrapper {
        display: block;
        width: 100%;
    }
    .task-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 4rem;
    }
    .footer-container {
        display: block;
    }
    .footer-right-side {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap
    }
    .footer-col-one,
    .footer-col-two,
    .footer-col-three,
    .footer-col-four {
        width: 50%;
        text-align: center;
    }
}
/*----------------- end of responsive design ------------------*/